*.*~
__pycache__/

*.pyc

*.acq_results
*.track_results
fftw_wisdom

.DS_Store
Peregrine.egg*
distribute-*


# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

docs/_build
docs/api
docs/samples_file
docs/_static/samples_analysis_summary.png
docs/_static/acq_analysis_acq_plot_3d.png
docs/_static/acq_analysis_peak_plot.png
docs/_static/acq_analysis_snr_bars.png
RELEASE-VERSION
dist/
CMakeFiles/
build/


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Test data
tests/peregrine_ci_test_data.tar.gz
tests/test_data/
tests/test_data_old*

# Eclipse project files
.pydevproject
.project
.cproject
.settings/
